
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(17, 172, 199);
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 1px 50px;
    color: #000000;;
    margin-top: 2.5pc;
    background-color: rgb(19 239 214);
    font-size: 1.5rem;
    font-style: italic;
    font-family: monospace
}

header h1 {
    font-family: system-ui;
}

.hero-banner h2 {
    color: navajowhite;
    padding: 2px 20px;
    font-size: 3rem;
    display: inline-block;
    background-position: 5px;
}

.hero-banner {
    display: flex;
    justify-content: center;
    font-family: revert;
    background-image: url(../assets/heroimage2\ \(2\).jpg);
    padding: 300px;
}

.page-section {
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: rgb(19 239 214);
    padding: 10px 0;
    border-style: solid;
}

.picture {
    display: flex;
    padding-right: 20%;
    width: 50%;
}


 .page-wrapper {
    padding-right: auto;
    padding-left: auto;
    max-width: 88%;
} 
 

.page-section > h2 {
    border-right: 5px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
}



address {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

address a {
    justify-content: space-evenly;
    text-decoration: none;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item:first-child {
min-height: 400px;
flex-basis: 100%;
}

.flex-container {
    background-image: url(./Screenshot\ \(4\).png);
    height: 26rem;
    width: 102vh;
}

div a {
    color: black;
}



footer {
    padding: 10rem;
    display: flex;
    align-content: center;
    justify-content: center;
    -webkit-text-stroke-width: thin;
    text-decoration-line: underline;
}